<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecjtu.mapper.PetMapper">

    <insert id="addPet" parameterType="Pet">
        INSERT INTO pet (id,petName,petType,sex,birthday,pic,state,remark)values(#{id},#{petName},#{petType},#{sex},#{birthday},#{pic},#{state},#{remark})
    </insert>

    <delete id="deletePet" parameterType="int">
        DELETE FROM pet WHERE id=#{id}
    </delete>

    <update id="updatePet" parameterType="pet">
        UPDATE pet SET petName=#{petName},petType=#{petType},sex=#{sex},birthday=#{birthday},
        <trim suffixOverrides=",">
            <if test="pic != null">
                pic=#{pic},
            </if>
        </trim>
        state=#{state},remark=#{remark} WHERE id=#{id}
    </update>

    <update id="updateState" parameterType="pet">
        UPDATE pet SET state=#{state} WHERE id=#{id}
    </update>

    <resultMap id="BasePetMap" type="pet">
        <id column="id" property="id"></id>
        <result column="petName" property="petName"></result>
        <result column="petType" property="petType"></result>
        <result column="sex" property="sex"></result>
        <result column="birthday" property="birthday"></result>
        <result column="pic" property="pic"></result>
        <result column="state" property="state"></result>
        <result column="remark" property="remark"></result>
        <collection property="adoptAnimalList" ofType="adoptAnimal" javaType="list">
            <id column="id" property="id"></id>
            <result column="adoptTime" property="adoptTime"></result>
            <result column="state" property="state"></result>
            <association property="user" javaType="users">
                <id property="id" column="id"></id>
                <result column="userName" property="userName"></result>
                <result column="password" property="password"></result>
                <result column="sex" property="sex"></result>
                <result column="age" property="age"></result>
                <result column="telephone" property="telephone"></result>
                <result column="Email" property="Email"></result>
                <result column="address" property="address"></result>
                <result column="pic" property="pic"></result>
                <result column="state" property="state"></result>
            </association>
        </collection>
        <collection property="commentList" ofType="comment" javaType="list">
            <id column="cid" property="id"></id>
            <result column="commentTime" property="commentTime"></result>
            <result column="content" property="content"></result>
        </collection>
    </resultMap>

    <select id="getPets" resultType="pet">
        SELECT * FROM pet ORDER BY birthday DESC
    </select>

    <!--select * from (pet left join t_adopt ON pet.id=pet_id) left join users on user_id=users.id where pet.state=#{state} group by  pet.id;-->
    <select id="findByState" parameterType="int" resultType="pet">
         SELECT * FROM pet WHERE state=#{state}
    </select>

    <!--select * from (pet left join t_adopt on pet.id=t_adopt.pet_id) left join users on t_adopt.user_id=users.id
       where pet.id=#{id}-->
    <!--select * from (pet left join t_adopt ON pet.id=pet_id) left join users on user_id=users.id where pet.id=#{id}-->
    <!--select * from pet left join t_adopt ON pet.id=t_adopt.pet_id left join users on t_adopt.id=users.id left join comment on comment.pet_id=pet.id  where pet.id=#{id}-->
    <select id="findById" parameterType="int" resultMap="BasePetMap" >
        select pet.*,comment.id cid,comment.commentTime,comment.content,users.*,admin.* from pet left join comment on comment.pet_id=pet.id left join users on users.id=comment.user_id left join admin on admin.id=comment.admin_id where pet.id=#{id};
    </select>

    <select id="findByPetType" resultType="pet" parameterType="string">
        SELECT *  FROM pet
        <where>
            <if test="petType !=null and petType != ''">
                and petType LIKE "%"#{petType}"%"
            </if>
        </where>
    </select>

    <delete id="deleteBatch" parameterType="int">
        DELETE FROM pet
        <foreach collection="ids" item="id" separator="," open="where id in (" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>