<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{base/layout}">

<div layout:fragment="content">

    <!--med_tittle_section-->
    <div class="med_tittle_section">
        <div class="med_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="med_tittle_cont_wrapper">
                        <div class="med_tittle_cont">
                            <ol class="breadcrumb">
                                <li><a th:href="@{/}">系统首页</a></li>
                                <li><a th:href="@{/strategy/travelStrategyListUI}">景区游玩路线列表</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- med_tittle_section End -->
    <!--service section start-->
    <div class="page-container">
        <div class="container">
            <div class="row med_toppadder50 med_bottompadder50">
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="filter-type-box cy-tabs">
                        <ul class="nav nav-tabs mb-10">
                            <li class="active">
                                <a th:href="@{/strategy/travelStrategyListUI}"><i class="fa"></i>攻略列表</a>
                            </li>
                            <li class="pull-right">
                                <div class="search-tags">
                                    <form th:action="@{/strategy/travelStrategyListUI}" methed="post" name="search-form"
                                          id="search-form" class="form-inline">
                                        <div class="input-group">
                                            <input type="text" name="searchName" th:value="${searchName}"
                                                   class="form-control">
                                            <span class="input-group-btn">
                                                <input class="btn btn-info" type="submit" value="名称搜索"><i
                                                    class="fa fa-search"></i></input>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div th:each="travelStrategy:${page.content}" class="cy-news-grid-item">
                        <div class="cy-media-body">
                            <div class="cy-grid-body">
                                <h5><a th:href="@{/strategy/travelStrategyDetailsUI(id=${travelStrategy.id})}"
                                       th:text="'攻略名称 : ' + ${travelStrategy.title}"></a></h5>
                                <small th:text="${travelStrategy.describe}">

                                </small>
                            </div>
                            <div class="cy-btm-info">
                                <div class="cy-btm-date"></div>
                                <div class="cy-btm-tags"><a >南京</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:insert="~{base/pageable}"></div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="sider-card">
                        <div class="sider-card-header">
                            <h3>热门攻略</h3>
                        </div>
                        <ul class="sider-list-model-a">
                            <li th:each="travelStrategy:${top10Strategy}">
                                <a th:href="@{/strategy/travelStrategyDetailsUI(id=${travelStrategy.id})}"
                                   th:text="${travelStrategy.title}">XXXX</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--service section end-->

    <!--js code-->
    <script>
        $('.filter-type-box span a').click(function () {
            if ($(this).hasClass('active'))
                $(this).removeClass('active')
            else
                $(this).addClass('active')
        });
    </script>
</div>

</html>