body{ color:#333; font-size:13px;}
input,select,textarea{color:#333;}
.bg{ width:100%; height:100%; position:absolute; background:url(http://localhost:8080/web/images/login/bg.jpg) }
.panel{background:#fff;}
form .form-group:last-child{padding-bottom:0;}
.passcode{position:absolute;right:0;bottom:0;height:32px;margin:1px;border-left:solid 1px #ddd;text-align:center;line-height:32px;border-radius:0 4px 4px 0;}
ul,li{ list-style-type:none;}

.field-icon-right .icon{ bottom:0px; top:auto}
.loginbox { background:url(http://localhost:8080/web/images/login/tmbg-white.png); border:0px;}
.mySize{
    width: 200px;
    height: 45px;
}
