<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.finance.mapper.FundProductMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.finance.entity.FundProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="fundDesc" jdbcType="VARCHAR" property="funddesc" />
    <result column="dailyGrowth" jdbcType="DECIMAL" property="dailygrowth" />
    <result column="monthlyGrowth" jdbcType="DECIMAL" property="monthlygrowth" />
    <result column="annualGrowth" jdbcType="DECIMAL" property="annualgrowth" />
    <result column="leastMoney" jdbcType="DECIMAL" property="leastmoney" />
    <result column="invesTerm" jdbcType="VARCHAR" property="investerm" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, type, code, fundDesc, dailyGrowth, monthlyGrowth, annualGrowth, leastMoney, invesTerm
  </sql>
  <select id="selectByExample" parameterType="com.bjpowernode.finance.entity.FundProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fund_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fund_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fund_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bjpowernode.finance.entity.FundProductExample">
    delete from fund_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bjpowernode.finance.entity.FundProduct">
    insert into fund_product (id, type, code, 
      fundDesc, dailyGrowth, monthlyGrowth, 
      annualGrowth, leastMoney, invesTerm
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{code,jdbcType=INTEGER}, 
      #{funddesc,jdbcType=VARCHAR}, #{dailygrowth,jdbcType=DECIMAL}, #{monthlygrowth,jdbcType=DECIMAL}, 
      #{annualgrowth,jdbcType=DECIMAL}, #{leastmoney,jdbcType=DECIMAL}, #{investerm,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bjpowernode.finance.entity.FundProduct">
    insert into fund_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="funddesc != null">
        fundDesc,
      </if>
      <if test="dailygrowth != null">
        dailyGrowth,
      </if>
      <if test="monthlygrowth != null">
        monthlyGrowth,
      </if>
      <if test="annualgrowth != null">
        annualGrowth,
      </if>
      <if test="leastmoney != null">
        leastMoney,
      </if>
      <if test="investerm != null">
        invesTerm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
      <if test="funddesc != null">
        #{funddesc,jdbcType=VARCHAR},
      </if>
      <if test="dailygrowth != null">
        #{dailygrowth,jdbcType=DECIMAL},
      </if>
      <if test="monthlygrowth != null">
        #{monthlygrowth,jdbcType=DECIMAL},
      </if>
      <if test="annualgrowth != null">
        #{annualgrowth,jdbcType=DECIMAL},
      </if>
      <if test="leastmoney != null">
        #{leastmoney,jdbcType=DECIMAL},
      </if>
      <if test="investerm != null">
        #{investerm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bjpowernode.finance.entity.FundProductExample" resultType="java.lang.Long">
    select count(*) from fund_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fund_product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=INTEGER},
      </if>
      <if test="record.funddesc != null">
        fundDesc = #{record.funddesc,jdbcType=VARCHAR},
      </if>
      <if test="record.dailygrowth != null">
        dailyGrowth = #{record.dailygrowth,jdbcType=DECIMAL},
      </if>
      <if test="record.monthlygrowth != null">
        monthlyGrowth = #{record.monthlygrowth,jdbcType=DECIMAL},
      </if>
      <if test="record.annualgrowth != null">
        annualGrowth = #{record.annualgrowth,jdbcType=DECIMAL},
      </if>
      <if test="record.leastmoney != null">
        leastMoney = #{record.leastmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.investerm != null">
        invesTerm = #{record.investerm,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fund_product
    set id = #{record.id,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      code = #{record.code,jdbcType=INTEGER},
      fundDesc = #{record.funddesc,jdbcType=VARCHAR},
      dailyGrowth = #{record.dailygrowth,jdbcType=DECIMAL},
      monthlyGrowth = #{record.monthlygrowth,jdbcType=DECIMAL},
      annualGrowth = #{record.annualgrowth,jdbcType=DECIMAL},
      leastMoney = #{record.leastmoney,jdbcType=DECIMAL},
      invesTerm = #{record.investerm,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.finance.entity.FundProduct">
    update fund_product
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="funddesc != null">
        fundDesc = #{funddesc,jdbcType=VARCHAR},
      </if>
      <if test="dailygrowth != null">
        dailyGrowth = #{dailygrowth,jdbcType=DECIMAL},
      </if>
      <if test="monthlygrowth != null">
        monthlyGrowth = #{monthlygrowth,jdbcType=DECIMAL},
      </if>
      <if test="annualgrowth != null">
        annualGrowth = #{annualgrowth,jdbcType=DECIMAL},
      </if>
      <if test="leastmoney != null">
        leastMoney = #{leastmoney,jdbcType=DECIMAL},
      </if>
      <if test="investerm != null">
        invesTerm = #{investerm,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.finance.entity.FundProduct">
    update fund_product
    set type = #{type,jdbcType=INTEGER},
      code = #{code,jdbcType=INTEGER},
      fundDesc = #{funddesc,jdbcType=VARCHAR},
      dailyGrowth = #{dailygrowth,jdbcType=DECIMAL},
      monthlyGrowth = #{monthlygrowth,jdbcType=DECIMAL},
      annualGrowth = #{annualgrowth,jdbcType=DECIMAL},
      leastMoney = #{leastmoney,jdbcType=DECIMAL},
      invesTerm = #{investerm,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>