<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.finance.mapper.PayMoneyMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.finance.entity.PayMoney">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="monthMoney" jdbcType="DECIMAL" property="monthmoney" />
    <result column="autoInto" jdbcType="INTEGER" property="autointo" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="invesTerm" jdbcType="VARCHAR" property="investerm" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, monthMoney, autoInto, type, invesTerm
  </sql>
  <select id="selectByExample" parameterType="com.bjpowernode.finance.entity.PayMoneyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pay_money
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_money
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pay_money
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bjpowernode.finance.entity.PayMoneyExample">
    delete from pay_money
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bjpowernode.finance.entity.PayMoney">
    insert into pay_money (id, monthMoney, autoInto, 
      type, invesTerm)
    values (#{id,jdbcType=INTEGER}, #{monthmoney,jdbcType=DECIMAL}, #{autointo,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{investerm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bjpowernode.finance.entity.PayMoney">
    insert into pay_money
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="monthmoney != null">
        monthMoney,
      </if>
      <if test="autointo != null">
        autoInto,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="investerm != null">
        invesTerm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="monthmoney != null">
        #{monthmoney,jdbcType=DECIMAL},
      </if>
      <if test="autointo != null">
        #{autointo,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="investerm != null">
        #{investerm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bjpowernode.finance.entity.PayMoneyExample" resultType="java.lang.Long">
    select count(*) from pay_money
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pay_money
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.monthmoney != null">
        monthMoney = #{record.monthmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.autointo != null">
        autoInto = #{record.autointo,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.investerm != null">
        invesTerm = #{record.investerm,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pay_money
    set id = #{record.id,jdbcType=INTEGER},
      monthMoney = #{record.monthmoney,jdbcType=DECIMAL},
      autoInto = #{record.autointo,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      invesTerm = #{record.investerm,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.finance.entity.PayMoney">
    update pay_money
    <set>
      <if test="monthmoney != null">
        monthMoney = #{monthmoney,jdbcType=DECIMAL},
      </if>
      <if test="autointo != null">
        autoInto = #{autointo,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="investerm != null">
        invesTerm = #{investerm,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.finance.entity.PayMoney">
    update pay_money
    set monthMoney = #{monthmoney,jdbcType=DECIMAL},
      autoInto = #{autointo,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      invesTerm = #{investerm,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>